six==1.17.0
mock==5.2.0
PyYaml
regex
requests
nltk==3.8.1
tiktoken
sentencepiece
pybind11==2.13.6
multi-storage-client
boto3==1.40.76
flask
flask_restful
aiohttp
anyio
pytest-asyncio
pytest-trio
pytest_mock
wrapt==2.0.1
pytest-tornasync==0.6.0.post2
PyGithub
matplotlib
transformers==4.51.0
av
braceexpand
webdataset
