PyYaml
gitpython
cryptography

# Inference Only
black==24.4.2
hydra-core==1.3.2
pandas
psutil
aiohttp
requests
openai
tqdm
diff-cover
pytest
Jinja2
ray[default]

# General Training & Inference
transformers
omegaconf
matplotlib
cmake
